<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Waste Management and donations</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div id='signin'>
        <img id="logo" src='images/logo.png'>
        <h1>Sign in</h1>
        <form  method="post" action="signin">
            <label>Username</label><br>
            <input type="text" requried name="username" id="username" placeholder="Enter your Username"><br><br>
            <label>Password</label><br>
            <input type="password" requried name="passwd" id="passwd" placeholder="Password"><br><br>
            <button type="submit" class='button'>Sign in</button>
        </form>
        <p>Don't have an account?<button onclick="Register()">Register</button></p>
    </div>
    <div id='Register'>
        <img id="logo" src='/images/logo.png'>
        <h1>Register</h1>
        <form action='register' method="post">
            <label>Username</label><br>
            <input type="text" requried name="username" id="username" placeholder="Create your Username"><br><br>
            <label>Password</label><br>
            <input type="password" requried name="passwd" id="passwd" placeholder="Create Password"><br><br>
            <label >Re-enter the Password</label><br>
            <input type="password" requried name="passwd" id="re-passwd" placeholder="Re-enter the Password"><br><br>
            <label>Location</label>
            <select name="Location" onchange="getSelectValue()">
                <option>Location</option>
                <option value="Rolla_Sharjah">Rolla,Sharjah</option>
                <option value="Bur_Dubai_Dubai">Bur Dubai,Dubai</option>
                <option value="National_Paints_Sharjah">National Paints,Sharjah</option>
            </select><br><br>
            <button type="submit" class='button' id='button'>Register</button>
        </form>
        <p> Do you have an account?<button onclick="Signin()">Sign in</button></p>
    </div>
    <script>
        let signin=document.getElementById('signin')
        let register=document.getElementById('Register')
        function Register(){
            signin.style.display='none'
            register.style.display='block'
        }
        function Signin(){
            signin.style.display='block'
            register.style.display='none'
        }
    </script>
</body>

</html>