<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Waste Management and donations</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <img id="logo"src='/images/logo.png'>
    <div id="registered">
        <h3>Your password is wrong</h3>
        <a href="/">Try again</a>
    </div>
</body>

</html>